.ios-video {
	object-fit: fill;
}

body,
.card {
	background-color: #4E4847;
}

.card {
	height: fit-content;
	border: 0px;
	padding: 0px;
}

#video-container {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: auto;
}

.mirror-mode{
	-ms-transform: scaleX(-1);
	-moz-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}

@media (max-width:799px){
	.chat-col{
		right: -100vw;
		width: 100vw;
		/* bottom: 35px; */
	}
	
	.chat-opened::-webkit-scrollbar {
		display: none;
	}
}

#direct-message {
	width: 100%;
	padding: 0.3rem;
	border-radius: 0.375rem;
}

#navbar {
	visibility: hidden;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 4px;
	border-radius: 20px;
	font-size: 1rem;
	width: min-content;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
}

.btn {
	width: -webkit-fill-available;
	padding: .5rem .5rem;
	font-size: 1.1rem;
	border: none;
}

.my-handle {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 0 75px 75px;
	border-color: transparent transparent rgba(0, 0, 0, 0.5) transparent;
}

#video-username {
	position:absolute;
	bottom: 0;
	left: 0;
	background-color:rgba(0, 0, 0, 0.5);
	color: white;
	/* z-index:300000; */
	padding: 6px;
	height: auto;
	width: auto;
	text-align: center;
}

.mute-remote-mic,
.expand-remote-video {
	font-size: 1.5rem;
}

.remote-video-controls {
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	right: 0;
	display: flex;
	padding-left: 5.5px;
	padding-right: 5.5px;
	padding-top: 4px;
	padding-bottom: 4px;
}

/*
.remote-video-controls{
	position:absolute;
	top: 0;
	right: 0;
	background-color:rgba(0, 0, 0, 0.5);
	z-index:300000;
	padding: 5px;
	height: auto;
	text-align: center;
	visibility: visible;
}
*/

/*
.remote-video:hover + .remote-video-controls,
.remote-video-controls:hover{
	visibility: visible;
}
*/

#chat-form {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding-left: 5px;
	padding-right: 5px;
}

.chat-col{
	right: -100vw;
	top: 0;
	bottom: 0;
	position: fixed;
	color: #fff;
	padding-right: 5px;
	padding-left: 5px;
	/* padding-bottom: 40px; */
	padding-top: 15px;
}

.chat-col.chat-opened {
	right: 0;
}

#new-chat-notification {
	position:absolute;
	top: auto;
	right: auto;
}

#chat-messages{
	height: 80vh;
	overflow-x: hidden;
	overflow-y: auto;
	scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none;	/* IE 10+ */
}

#chat-messages::-webkit-scrollbar {
	width: 0px;	/* remove scrollbar space */
	background: transparent;
}

.chat-box{
	bottom: 0px;
	right: 0;
	position: absolute;
	border: 0;
	border-top: 1px groove white;
	border-left: 1px groove white;
	font-size: small;
}

.chat-box::placeholder{
	font-size: small;
	font-weight: lighter;
	font-style: italic;
}

.chat-box,
.chat-box:focus{
	resize: none !important;
	box-shadow: none !important;
}

.chat-row{
	height: 100%;
	overflow-x: scroll;
}


.sender-info{
	font-size: smaller;
	margin-top: 5px;
	align-self: flex-end;
}


.msg{
	font-weight: 400;
	font-size: 12px;
	color: black;
	background-color: wheat;
}


.chat-card{
	border-radius: 10px;
}


.btn-no-effect:focus{
	box-shadow: none;
}

.very-small{
	font-size: 6px !important;
}


#close-single-peer-btn {
	position: fixed;
	top: 0;
	text-align: center;
	background: rgba(0, 0, 0, 0.5);
	color: #f1f1f1;
	border-radius: 0%;
	/* z-index: 100; */
}


.pointer{
	cursor: pointer;
}


.record-option{
	height: 200px;
	border-radius: 10%;
	border: 1px solid #17a2b8;
	cursor: pointer;
	padding: 10px;
	vertical-align: middle;
}


.custom-modal {
	display: none;
	position: fixed;
	 z-index: 10000;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
}


.custom-modal-content {
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #17a2b8;
	width: 80%;
}


@keyframes animatetop {
	from {top: -300px; opacity: 0}
	to {top: 0; opacity: 1}
}

